@font-face {
  font-display: block;
  font-family: "Inter";
  font-weight: 100 900;
  src: url(/assets/InterVariable.woff2);
}

:root {
  --black-raw: 0 0 0;
  --black: rgb(var(--black-raw));
  --white-raw: 255 255 255;
  --white: rgb(var(--white-raw));
  background-color: var(--white);
  color: var(--black);
  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--black);
    color: var(--white);
  }
